:root {
  /* COLORS */
  --black: #171717;
  --grey1: #242424;
  --back-opacity10: hsla(0, 0%, 9%, 0.903);
  --white-bg: rgb(238, 238, 238);

  /* SPACING */
  --section-width: 122px;
  --mobile-side-spacing: 1.8rem;

  /* FONTS */
  --h-family: "Montserrat", serif;
  --p-family: "Open Sans", serif;

  /* FONT SIZES */
  --p-size: 1.8rem;

  /* FONT WEIGHTS */
  --bold: 700;
  --regular: 500;
  --light: 300;

  /* SCREEN WIDTHS */
  --s-mobile: 320px;
  --m-mobile: 375px;
  --s-desktop: 1024px;
  --l-desktop: 1440px;

  /* OTHER */
  --header-height: 75px;
}

/* GENERAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

ul,
ol {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: var(--h-family);
}

h1,
h2,
h3 {
  font-family: var(--h-family);
  margin: 0;
  padding: 0;
}

p,
a,
li {
  font-family: var(--p-family);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  font-size: 1.8rem;
}

button {
  border: none;
  padding: 0.8rem 2.4rem;
  font-family: var(--h-family);
}

/* REUSABLE */
.h-primary {
  border: 4px solid white;
  border-top: none;
  padding: 1rem;
  margin-bottom: 3rem;
}

/* JS */
body.no-scroll {
  /* height: 100%; */
  height: 100vh;
  overflow: hidden;
}

.remove-el {
  display: none !important;
}

/* scroller */
.scroller {
  width: 100%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  width: 100vw;
  margin-left: -1.8rem;
  -webkit-mask: linear-gradient(
    90deg,
    transparent 0%,
    white 30%,
    white 70%,
    transparent 100%
  );

  mask: linear-gradient(
    90deg,
    transparent 0%,
    white 30%,
    white 70%,
    transparent 100%
  );
}

.scroller[data-animated="true"] .inner-scroller {
  animation: scroll 10s linear infinite;
  width: max-content;
}

.inner-scroller {
  display: flex;
  div {
    white-space: nowrap;
    font-size: 3rem;
    font-family: var(--h-family);
    font-weight: var(--bold);
  }
}

/* FLEX */
.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.grid-one-col {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */
@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(
      calc(-100% + 100vw)
    ); /* Start from off-screen to the right */
  }
  to {
    transform: translateX(
      calc(-50% + 100vw + 1.5rem)
    ); /* End position: scroll to the left */
  }
}
