@import url("general.css");

:root {
  /* COLORS */
  --black: #171717;
  --grey1: #242424;
  --back-opacity10: hsla(0, 0%, 9%, 0.903);
  --white-bg: rgb(238, 238, 238);

  /* SPACING */
  --section-width: 122px;
  --mobile-side-spacing: 1.8rem;

  /* FONTS */
  --h-family: "Montserrat", serif;
  --p-family: "Open Sans", serif;

  /* FONT SIZES */
  --p-size: 1.8rem;

  /* FONT WEIGHTS */
  --bold: 700;
  --regular: 500;
  --light: 300;

  /* SCREEN WIDTHS */
  --s-mobile: 320px;
  --m-mobile: 375px;
  --s-desktop: 1024px;
  --l-desktop: 1440px;

  /* OTHER */
  --header-height: 75px;
}

/* BASE 375 px */
/* HEADER */
header {
  background-color: var(--grey1);
  height: var(--header-height);
  padding-inline: var(--mobile-side-spacing);
  position: relative;
  z-index: 2;
}

header a {
  overflow: hidden;
  border-radius: 0.8rem;
}

header .logo {
  width: 4.2rem;
  transform: scale(1.5);
}

header nav {
  /* display: none; */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  bottom: calc(-100vh + var(--header-height));
  padding-top: 4.2rem;
  transform: translateY(calc(-100% - var(--header-height)));
  transition: transform 0.5s ease-in-out;
  background-color: #171717;
}

header nav.active {
  transform: translateY(0);
}

header nav ul {
  gap: 3rem;
}

header nav ul li {
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
}

header nav ul li:hover {
  background-color: white;
}

header nav ul li:hover a {
  color: #171717;
}

header nav ul li:last-child {
  background-color: white;
}

header nav ul li:last-child a {
  color: #171717;
}

header nav a {
  font-size: 3rem;
}

header .nav-icon {
  font-size: 4.2rem;
  color: rgba(255, 255, 255, 0.748);
}

/* SOCIAL LINKS (ADDITIONAL CONTAINER) */
.nav-other {
  margin-top: 6rem;
  color: #fff;
  gap: 0.8rem;
}

.nav-other p:first-child {
  font-size: 1.8rem;
  font-family: var(--p-family);
  font-weight: var(--light);
}

.nav-other p:nth-child(2) {
  font-size: 2rem;
  font-family: var(--h-family);
  text-align: center;
}

.nav-other .social-links {
  gap: 3rem;
  margin-top: 1.8rem;
  i {
    font-size: 4rem;
  }
}

/* HERO */
/* .hero-s,
.hero-s * {
} */

.hero-s {
  height: calc(100vh - var(--header-height));
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.hero-s img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -10;
}

.hero-s .overlay {
  width: 150%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.678);
  position: absolute;
  bottom: 0;
  transform: translate(-50px, 50%) rotate(15deg);
  z-index: -9;
}

.hero-s .container {
  align-items: start;
  gap: 1.2rem;
  width: 100%;
  padding-inline: var(--mobile-side-spacing);
}

.hero-s .text {
  font-family: var(--h-family);
  font-size: 1.8rem;
}

/* scroller */
.scroller {
  width: 100%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent 0%,
    white 30%,
    white 70%,
    transparent 100%
  );

  mask: linear-gradient(
    90deg,
    transparent 0%,
    white 30%,
    white 70%,
    transparent 100%
  );
}

.scroller[data-animated="true"] .inner-scroller {
  animation: scroll 10s linear infinite;
  width: max-content;
}

.inner-scroller {
  display: flex;
  div {
    white-space: nowrap;
    font-size: 3rem;
    font-family: var(--h-family);
    font-weight: var(--bold);
  }
}

.hero-s .links-container {
  width: 100%;
  margin-bottom: 3rem;
  z-index: 10;
}

.hero-s .cta-btn {
  font-size: 1.8rem;
  background-color: #171717;
  padding: 0.8rem 1.8rem;
}

.hero-s .social-links {
  font-size: 2.6rem;
  gap: 2.4rem;
}

/* ABOUT ME */
.about-me-s {
  gap: 4.2rem;
  padding: 6rem var(--mobile-side-spacing);
}

.about-me-s p {
  font-size: var(--p-size);
  text-align: justify;
  line-height: 1.5;
  font-weight: var(--light);
}

/* SKILLS */
.skills-s {
  background-color: var(--white-bg);
  color: var(--black);
  padding: 6rem var(--mobile-side-spacing);
  gap: 4.2rem;
}

.skills-s > h1 {
  border-color: var(--black);
}
.skills-s .value-box {
  position: relative;
  z-index: 5;
}

.skills-s i {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  font-size: 20rem;
  color: rgb(228, 227, 227);
  z-index: 0;
}

.skills-s .value-box h2 {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  position: relative;
}

.skills-s .value-box p {
  font-size: 1.6rem;
  position: relative;
}

/* TECHNOLOGIES */
.tech-s {
  padding: 6rem var(--mobile-side-spacing);
  background-color: var(--black);
}

.tech-s .inner-scroller img {
  height: 6rem;
}

.tech-s .scroller[data-animated="true"] .inner-scroller {
  animation: scroll-right 10s linear infinite;
  width: max-content;
  gap: 3rem;
  background-color: var(--white-bg);
  padding-block: 1.2rem;
}

/* PROJECTS-SECTION */
.projects-s {
  padding: 6rem var(--mobile-side-spacing);
  position: relative;
}

.bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../assets/projects.png);
  filter: blur(1px);
}

/* dropdown */
.dropdown {
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  color: white;
  font-family: var(--p-family);
  background-color: rgba(0, 0, 0, 0.587);
  font-size: 3rem;
  padding: 0.8rem 1.8rem;
}

.dropdown-toggle i.dropdown-pointer {
  transform: rotate(180deg);
}

.dropdown-menu {
  width: 100%;
  background-color: #171717;
}

.dropdown-menu li {
  font-size: 2.4rem;
  padding: 0.8rem 1.8rem;
  color: rgb(139, 139, 139);
}

/* websites container*/
.projects-container {
  padding-block: var(--mobile-side-spacing);
  padding-block: 6rem;
}

.project-box {
  width: 100%;
  background-color: #171717cd;
  gap: 1.8rem;
  padding: 1.2rem;
}

.project-box .project-img {
  width: 100%;
  object-fit: cover;
  /* aspect-ratio: 4 / 3; */
  /* filter: blur(1px); */
}

.project-box .project-title {
  font-size: 2.4rem;
}

.project-box .project-text {
  font-size: 1.8rem;
  font-weight: var(--light);
}

.project-box a {
  font-size: 1.8rem;
  text-align: center;
  background-color: white;
  color: #171717;
  padding: 0.8rem 2.4rem;
}

.project-box .git-btn {
  background-color: rgba(255, 255, 255, 0.49);
}
/* toggle map*/
/* button toggles display class (hides or reveals options) */
/* When li is pressed 2 things happen */
/* 1st - li text goes to the top, I could create arry where all possible options will be stored. When button pressed again, other options should be shown */
/* 2nd - also is should clear section where all project boxes are stored and display only selected */

/* MOBILE NAV BUG: when screen is square it moves nav to view */
/* MOBILE NAV BUG2: NAV is on top of header (header has context and NAV is part of it) */
/* also scroll up first so if user clicks on hamburger lower then then top page*/
